@import url("https://fonts.googleapis.com/css2?family=Cardo&family=EB+Garamond&family=Luxurious+Roman&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --background: #f9c2a6;
  --mid-orange: #ff8e72;
  --dk-orange: #ed6a5e;
  --dark: #377771;
  --bright: #4ce0b3;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--background);
  color: var(--dark);
  text-align: center;
  font-size: 2em;
  font-family: "EB Garamond", serif;
}
/* = =  = HEADER =  = =*/
header {
  height: 5vh;
  border-bottom: solid 1px var(--dark);
}
h1 {
  font-family: "Cardo", serif;
  text-transform: uppercase;
  font-size: 1.2em;
  margin: 0.2em;
}
/* ==== MAZE AREA === */
.maze-wrapper {
  min-height: 88vh;
}
.explanation {
  font-size: 0.6em;
  padding: 7px 14px;
}
p {
  font-size: 0.6em;
}
.alert {
  height: 1em;
  margin: 0.2em;
  color: orangered;
}
.control {
  justify-content: var(--dark) center;
}
input,
.generate {
  display: inline-block;
}
label {
  font-size: 0.8em;
  text-align: center;
}
input,
button {
  height: 2rem;
  margin: 1em;
  padding: 0.4em;
  border-radius: 5px;
}
input {
  width: 4em;
}
button {
  background-color: var(--bright);
  color: black;
  box-shadow: 0 0 5px var(--dark);
}
.find {
  width: 12vw;
}
button:hover {
  box-shadow: 2px 2px 5px black;
}

.row-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 98wv;
}

/* = == CELL == = */

.free,
.not-free,
.green,
.cheese,
.rat {
  border: 2px solid var(--dk-orange);
  border-radius: 8px;
  background-color: white;
  height: 3em;
  width: 3em;
}
.free {
  background-color: whitesmoke;
}

.not-free {
  background-color: black;
}

.green {
  background-color: var(--bright);
}
.rat {
  background-image: url("./assets/rat.png");
  background-size: 2em;
  background-repeat: no-repeat;
  background-position: center;
}
.cheese {
  background-image: url("./assets/cheese.png");
  background-size: 2em;
  background-repeat: no-repeat;
  background-position: center;
}

/* === FOOTER AREA === */
footer {
  display: flex;
  margin-top: 0.4em;
  justify-content: center;
  width: 100vw;
  height: 3vh;
  position: static;
  bottom: 0;
  left: 0;
}
