* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --background: #ffaf87;
  --mid-orange: #ff8e72;
  --dk-orange: #ed6a5e;
  --dark: #377771;
  --bright: #4ce0b3;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--background);
  color: var(--dark);
  text-align: center;
  font-size: 2em;
}
input {
  width: 4em;
}
label {
  height: 2em;
}
.row-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* = == CELL == = */

.cell {
  border: 2px solid var(--dk-orange);
  border-radius: 8px;
  background-color: white;
  height: 3em;
  width: 3em;
}

.free {
  border: 2px solid var(--dk-orange);
  border-radius: 8px;
  background-color: white;
  height: 3em;
  width: 3em;
}
.not-free {
  border: 2px solid var(--dk-orange);
  border-radius: 8px;
  height: 3em;
  width: 3em;
  background-color: black;
}
